name: Test
on:
  - pull_request
  - push
jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node:
          - '18'
          - '20'
          - '22'
          - '23'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm test
